---
import Layout from "../layouts/Layout.astro";
const path = import.meta.env.PUBLIC_URL ?? process.env.PUBLIC_URL;
---

<Layout>
    <div class="poster">
        <img src=`${path}assets/img/contacts-poster.jpg`>
    </div>

    <div class="contacts">
        <div class="contacts__container">
            <ul class="contacts__list">
                <li class="contacts__item">
                    <img src=`${path}assets/img/phone.svg` width="88" height="88" alt="">
                    <span>Phone:&nbsp;</span>
                    <a href="tel:3053922200" class="contacts__link">
                        (305) 392-2200
                    </a>
                </li>
                <li class="contacts__item">
                    <img src=`${path}assets/img/mail.svg` width="88" height="88" alt="">
                    <span>Email:&nbsp;</span>
                    <a href="mailto:Info@cemglobal.com" class="contacts__link">Info@cemglobal.com</a>
                </li>
            </ul>
        </div>
    </div>
</Layout>