---
import Layout from "../layouts/Layout.astro";
import data from "../data.json"
import Card from "../components/Card.astro";
const path = import.meta.env.PUBLIC_URL ?? process.env.PUBLIC_URL;
---

<Layout title="Ice Makers">
    <div class="poster">
        <img src=`${path}assets/img/ice-poster.jpg` alt="FARBERWARE High Technology in your kitchen - Ice Makers">
    </div>
    <div class="catalog">
        <div class="catalog__container">
            <h2>PORTABLE ICE MAKERS</h2>
            <ul class="catalog__list">
                {data.filter((item) => item.category === 'iceMakers' && item.subCategory === 'iceMakers').map((item) => (
                        <Card SKU={item.SKU} category={item.category}></Card>
                ))}
            </ul>
        </div>
    </div>
</Layout>